body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*Estilos index html */
.vista {
  background-image: url("../assets/images/concert.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 80%;
  text-align: center;
  margin-top: 8em;
}

/*Estilos vista ticket-hack */
.vista-1 {
  background-image: url("../assets/images/concert02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #FFF;
}

a:hover{
  text-decoration: none;
  color: #FFF;
}

.first {
  background: none;
  color: #FFF;
  border: 2px solid #FFF;
  font-weight: 500;
  width: 80%;
  margin-top: 6em;
  margin-right: .1em;
  margin-bottom: -4em;
  font-size: 1.2em;
}

.topb {
  margin-top: 11em;
}

/*Estilos vista ticket-hack home*/
.vista-2 {
  background: #FFF;
}

.n-btn{
  background-color: #0D192A;
  color: #FFF;
  border: 1px solid black;
  padding: 1em;
}

.buscas{
  margin: 2.1em;
}

.logo-1 {
  width: 50%;
  text-align: center;
  margin-top: .2em;
}

.profile-1 {
  width: 75%;
  border-radius: 50%;
  display: inline-block;
  margin: .8em 0 .8em -1em;
  padding: 0;
}

#search {
  width: 100%;
  color: #C0C4C7;
  background-color: #FFF;
  height: 3em;
  border: 1px solid grey;
  margin: 5% auto;
}

.btn-s {
  width: 100%;
  height: 2.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .5em;
  background-color: #0D192A;
  color: #FFF;
}

.sales {
  border: 1px solid #FFF;
  background-color: #c0c4c7;
  height: auto;
  margin: 1% 0;
}

.update-2 {
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1em;
  height: auto;
}

.band {
  width: 100%;
}

.up {
  padding: 0;
}

.url-event {
  font-size: 65%;
  padding-bottom: 5%;
}
.name-event {
  color: #432843;
  font-weight: bold;
}

.coment {
  margin-left: 10em;
  margin-bottom: 1em;
}

.searching {
  background-color: #abced3;
  margin: 1% 0;
}

/* Estilos vista Perfil Usuario */
.rating {
  margin-bottom: 1em;
}

.just {
  margin-top: .5em;
  text-align: justify;
}

h3 {
  margin-top: .4em;
  margin-bottom: 1em;
}

.bttm {
  margin-bottom: 1em;
}

.dropdown{
  display: inline-block;
}

.dropdown-toggle {
  background-color: #000;
  padding: 0;
}

.titulo {
  margin: 0;
  margin-bottom: .5em;
}

.user-2{
  text-decoration: none;
  color: #000;
}

.user-2:hover{
  text-decoration: none;
  color: #000;
}

.dbtn {
  background-color: #000;
  padding: 0;
  margin-right: 25em;
}

.gray {
  background-color: #e5e3e3;
}

/*Estilos modales */
.modal-title {
  color: #000;
}

.btn-m {
  background-color: #0D192A;
  color: #FFF;
}

textarea {
  border: 2px solid #0D192A;
  border-radius: .5em;
  color: #000;
  overflow-y: scroll;
  width: auto;
}

.modal-content {
  margin: 15em 1em 0 1em;
}

#m-tamaño {
  width: 90% !important;
}

.publicar-venta {
  margin-top: 1em;
}
/* rating */
.star-rating {
  line-height: 32px;
  font-size: 2em;
}
.star-rating .fa-star {
  color: rgb(31, 44, 165);
}
