body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*Estilos index html */
.vista {
  background-image: url("../assets/images/concert.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 80%;
  text-align: center;
  margin-top: 8em;
}

/*Estilos vista ticket-hack */
.vista-1 {
  background-image: url("../assets/images/concert02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #FFF;
}

a:hover{
  text-decoration: none;
  color: #FFF;
}

.first {
  background: none;
  color: #FFF;
  border: 2px solid #FFF;
  font-weight: 500;
  width: 80%;
  margin-top: 6em;
  margin-right: .1em;
  margin-bottom: -4em;
}


/*Estilos vista ticket-hack home*/
.vista-2 {
  background: #FFF;
}

.logo-1 {
  width: 50%;
  text-align: center;
  margin-right: 5em;
}

.profile-1 {
  width: 100%;
  border-radius: 50%;
  display: inline-block;
  margin: .5em 0 .5em 0;
}

#search {
  width: 97%;
  color: #C0C4C7;
  background-color: #FFF;
  height: 2.5em;
}

#btn-s {
  width: 100%;
  height: 2em;
  background-color: #C0C4C7;
  color:#0D182A;
  margin-top: 1em;

}

.update {
  border: 1px solid #213323;
  margin-top: 1em;
}

.sale {
  margin-top: 4.5em;
  background-color: #FFF;
}

.card {
  background-color: #FFF;
  border: 1px solid #213323;
  margin-top: 2em;
  height: auto;
}

.band {
  width: 80%;
}
