<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket-Hack Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/icon/favicon.ico">
<!-- Bootstrap -->
    <link href="../css/vendors/bootstrap.min.css" rel="stylesheet">
<!-- Fuentes google -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,700" rel="stylesheet">
<!-- Enlaza CSS -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body id="home-page">
    <nav class="n-btn">
      <div class="container-fluid">
        <div>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <a href="#"><img src="../assets/images/menu.png" alt="lines"></a>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="user.html">Mi perfil</a></li>
              <li><a href="../index.html">Cerrar sesión</a></li>
            </ul>
          </div>
          <a class="buscas" data-toggle="modal" data-target="#myModal" href="#">Buscas boleto</a>
          <a class="vendes" data-toggle="modal" data-target="#myModal-2" href="#">Vendes boleto</a>
          <!--Primer Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">¿Buscas boleto?</h4>
                </div>
                <div class="modal-body">
                  <textarea class="searching-textarea" placeholder="Publica lo que buscas aqui" rows="8" cols="45"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-m publicar-busqueda" data-dismiss="modal">Publicar</button>
                </div>
              </div>
            </div>
          </div><!--Termina Primer Modal -->
          <!--Segundo Modal -->
          <div class="modal fade" id="myModal-2" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">¿Vendes boleto?</h4>
                </div>
                <div class="modal-body">
                  <textarea class="sales-textarea" placeholder="Publica lo que vendes aqui" rows="8" cols="45"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-m publicar-venta" data-dismiss="modal">Publicar</button>
                </div>
              </div>
            </div>
          </div><!--Termina Segundo Modal -->
        </div>
      </div>
    </nav>
    <section class="vista-2">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-xs-10 col-xs-push-1">
            <div class="row">
              <div class="col-xs-12">
                <img class="logo-1" src="../assets/images/ticket-hack-logo.png" alt="logo">
                <div class="container">
                  <h2 class="titulo">Home</h2>
                  <input id="search" type="text" placeholder="Buscar conciertos"></input>
                  <button class="btn btn-default btn-s" type="button">Buscar</button>
                </div>

                <div id="home-post">

                <!-- <div class="container update-sell col-xs-12">
                  <div class="col-xs-3 up">
                    <a class="user-2" href="profile.html"><img  class="profile-1" src="../assets/images/perfil-1.jpg" alt="perfil"></a>
                  </div>
                  <div class="col-xs-9 up">
                    <p class="update-2"><a class="user-2" href="profile.html"><strong>Stephanie Cervantes</strong></a></p>
                    <p>Vendo boleto para Ceremonia en 900!!!</p>
                    <button class="btn btn-default coment" type="button" data-toggle="modal" data-target="#myModal-3"><img src="../assets/images/comments.png" alt="Coment"></button>
                  </div>
                </div>
                <div class="container searching col-xs-12">
                  <div class="col-xs-3 up">
                    <a class="user-2" href="profile.html"><img  class="profile-1" src="../assets/images/perfil-2.jpg" alt="perfil"></a>
                  </div>
                  <div class="col-xs-9 up">
                    <a class="user-2" href="profile.html"><p class="update-2"><strong>Rod Mtez</strong></a><br>Busco boleto para Vive Latino día sábado  </p>
                      <button class="btn btn-default coment" type="button"><img src="../assets/images/comments.png" alt="Coment"></button>
                    </div>
                </div> -->
              </div>

<!-- inicio del contenedor de los eventos próximos -->
              <div class="container-fluid events-container"></div>
<!-- fin del contenedor de los eventos próximos -->
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- SCRIPT FIREBASE -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/vendors/jquery-3.3.1.min.js" charset="utf-8"></script>
<!--Js -->
    <script type="text/javascript" src="../js/app.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/vendors/bootstrap.min.js"></script>

  </body>
</html>
