<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket-Hack Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/icon/favicon.ico">
<!-- Bootstrap -->
    <link href="../css/vendors/bootstrap.min.css" rel="stylesheet">
<!-- Fuentes google -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,700" rel="stylesheet">
<!-- Enlaza CSS -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <nav class="n-btn">
      <div class="container-fluid">
        <div>
          <a href="#"><img src="../assets/images/menu.png" alt="lines"></a>
          <a class="buscas" href="#">Buscas boleto</a>
          <a class="buscas" href="#">Vendes boleto</a>
        </div>
      </div>
    </nav>
    <section class="vista-2">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-xs-10 col-xs-push-1">
            <div class="row">
              <div class="col-xs-12">
                <img class="logo-1" src="../assets/images/ticket-hack-logo.png" alt="logo">
                <div class="container ">
                  <h3>Perfil del usuario</h3>
                </div>
                <div class="container update col-xs-12">
                  <div class="col-xs-3 up">
                    <img  class="profile-1" src="../assets/images/perfil-1.jpg" alt="perfil">
                  </div>
                  <div class="col-xs-9 up">
                    <h4 class="update-2"><strong>Stephanie Cervantes</strong> <br> CdMx</h4>
                  </div>
                </div>
                <div class="container update col-xs-12">
                  <div class="col-xs-12 up ">
                    <h4>Puntuación del usuario</h4>
                    <img class="rating" src="../assets/images/rating.jpg" alt="rating">
                  </div>
                </div>
                <div class="container update col-xs-12 bttm">
                  <div class="col-xs-12 up ">
                    <h4>Comentarios</h4>
                    <h5 class="just"><strong>Todo perfecto!</strong></h5>
                    <p class="just">La comunicación fue buena y el trato se hizo sin ningún problema.</p>
                    <h5 class="just"><strong>Buen trato</strong></h5>
                    <p class="just">Todo estuvo bien solo que llego un poco tarde a la entrega.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- SCRIPT FIREBASE -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/vendors/jquery-3.3.1.min.js" charset="utf-8"></script>
<!--Js -->
    <script type="text/javascript" src="../js/app.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/vendors/bootstrap.min.js"></script>


  </body>
</html>
