<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil Ticket-Hack </title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/icon/favicon.ico">
<!-- Bootstrap -->
    <link href="../css/vendors/bootstrap.min.css" rel="stylesheet">
<!-- Fuentes google -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,700" rel="stylesheet">
<!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Enlaza CSS -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <nav class="n-btn">
      <div class="container-fluid">
        <div>
          <div class="dropdown">
            <button class="btn dropdown-toggle dbtn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <a href="#"><img src="../assets/images/menu.png" alt="lines"></a>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="home.html">Home</a></li>
              <li><a href="../index.html">Cerrar sesión</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <section class="vista-2">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-xs-10 col-xs-push-1">
            <div class="row">
              <div class="col-xs-12">
                <img class="logo-1" src="../assets/images/ticket-hack-logo.png" alt="logo">
                <div class="container ">
                  <h3>Mi Perfil</h3>
                </div>
                <div class="container update col-xs-12 gray">
                  <div class="col-xs-3 up">
                    <img  class="profile-1" src="../assets/images/perfil-1.jpg" alt="perfil">
                  </div>
                  <div class="col-xs-9 up">
                    <h4 class="update-2"><strong>Stephanie Cervantes</strong> <br> CdMx</h4>
                  </div>
                </div>
                <div class="container update col-xs-12 gray">
                  <div class="col-xs-12 up ">
                    <h4>Puntuación del usuario</h4>
                    <div class="star-rating mb-1 text-center">
                      <span class="fa fa-star-o" data-rating="1"></span>
                      <span class="fa fa-star-o" data-rating="2"></span>
                      <span class="fa fa-star-o" data-rating="3"></span>
                      <span class="fa fa-star-o" data-rating="4"></span>
                      <span class="fa fa-star-o" data-rating="5"></span>
                      <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                      <h4><strong>4.8</strong></h4>
                  </div>
                  </div>
                </div>
                <div class="container update col-xs-12 bttm gray">
                  <div class="col-xs-12 up ">
                    <h4>Comentarios</h4>
                    <h5 class="just"><strong>Recomendado</strong></h5>
                    <p class="just">Es puntual y llegamos a un buen trato.</p>
                    <h5 class="just"><strong>Bueno</strong></h5>
                    <p class="just">Confiable, buena comunicación.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- SCRIPT FIREBASE -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/vendors/jquery-3.3.1.min.js" charset="utf-8"></script>
<!--Js -->
    <script type="text/javascript" src="../js/app.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/vendors/bootstrap.min.js"></script>

  </body>
</html>
